@font-face {
    font-family: 'Digital';
    src: local('Digital'), url(../fonts/digital-7.ttf) format('truetype');
}

@font-face {
    font-family: 'Digital Mono';
    src: local('Digital Mono'), url(../fonts/digital-7-mono.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: Menlo, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
    text-align: center;
    display: flex;
}

.ct {
    width: 70vw;
    &__date {
        font-size: 4rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__time {
        font-size: 8.5rem;
        font-family: "Digital Mono";
        font-stretch: expanded;
        letter-spacing: 2px;
        color: rgb(92, 16, 16);
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    &__weekday {
      font-size: 2rem;
      color: blue;
      margin-top: 0;
    }
}

.sb {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 30vw;
  position: sticky;
  background: rgb(201, 162, 90);
  padding: 1rem;

  &__wd {
    width: 80%;
    margin-top: 2rem;
  }
}

.button {
  text-decoration: none;
  background: blue;
  border-radius: 1rem;
  color: azure;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
  }
}

.wd {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 2rem;

  &-date-group {
    display: flex;
  }

  &-input {
    width: 5rem;
    height: 2.3rem;

    margin-bottom: 0.5rem;

    letter-spacing: 2px;
    font-size: 1.3rem;
  }

  &-field {
      display: flex;
      flex-direction: column;

      margin-right: 2rem;
  }

  &-selector {
    height: 2.7rem;
    width: 10rem;

    margin-bottom: 0.5rem;

    font-size: 1rem;
    font-weight: bold;

    &__disabled {
        color: grey;
    }
  }

  &-option {
    width: 4rem;
    margin-bottom: 0.4rem;

    &__disabled {
        color: grey;
    }
  }

  &-submit {
    height: 2.7rem;
    width: 8rem;

    border-radius: 0.2rem;
    border: none;
    outline: none;

    font-size: 1rem;
    font-weight: 600;

    background-color: #316aff;
    color: #fff;

    letter-spacing: 2px;

    box-shadow: rgba(39, 88, 184, 0.5) 0px 10px 30px -8px;

    &:disabled {
        background-color: grey;
        box-shadow: none;
    }

    &:hover {
        font-size: 1.2rem;
        box-shadow: rgba(33, 94, 218, 0.5) 3px 10px 50px -4px;
    }
  }

  &-result {
      color: blue;
      letter-spacing: 4px;
      font-size: 4rem;

      &_calculated {
          text-transform: uppercase;

          &:hover {
              font-size: 4.5rem;
          }
      }
  }
}
